<!-- :: [manager/activities/activitiesAjax.html] -->
<li th:class="'list-group-item '+ ${!act.active ? 'out':''}" th:data-id="${act.id}">
  <span class="title" th:text="${act.text}"></span>
  <div class="cont_botonera" th:if="${act.edit}">
    <!-- :: Modificar -->
    <button class="btn_activity_form_modify btn btn-outline-secondary mr-1 modal_js" type="button" th:id="'b_activity_'+${#strings.replace(contentLevel,' ','_')}+'_'+${act.id}"
      data-modal_tipo="light"
      data-modal_size="modal-lg"
      th:data-modal_target="'#modal_activity_'+${#strings.replace(contentLevel,' ','_')}+'_'+${act.id}"
      data-modal_discriminador="modal_modificar_manager_activity"
      th:data-modal_title="#{activity.modal.edit.button}"
      th:data-modal_html="'#activity_form_'+${#strings.replace(contentLevel,' ','_')}+'_'+${act.id}"
      data-modal_footer="false"
      th:aria-label="#{activity.modal.text.button}" th:title="#{activity.modal.text.button}" >
      <span class="icono fas fa-edit" aria-hidden="true"></span>
    </button>
    <!-- :: Modificar Modal-->
    <div th:id="'activity_form_'+${#strings.replace(contentLevel,' ','_')}+'_'+${act.id}" class="activity_edit_form d-none" aria-hidden="true">
      <form th:action="@{${thymeleafMap.get('MANAGER_ACTIVITIES_ADD')}}" th:object="${activityVO}" method="POST">
        <input type="hidden" name="id" th:value="${act.id}">
        <input type="hidden" name="contentLevel" th:value="${contentLevel}">
        <input type="hidden" name="type" th:value="@{${thymeleafMap.get('ACTIVITY')}}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div class="content_activity_form d-flex flex-column col-md-12 mb-3" data-form_id="02">
          <h3 th:text="#{activity.modal.title}"></h3>

          <fieldset>
            <div class="cont_form_group d-flex mb-3">
              <div class="form-group col-md-12 pl-0 pr-0">
                <label class="bmd-label-floating" th:text="#{activity.text}" ></label>
                <input class="form-control" type="text" name="text" th:aria-label="#{activity.text}" th:value="${act.text}"/>
                <span class="bmd-help" th:text="#{activity.text.help}"></span>
              </div>
              <!-- :: /.form-group -->
            </div>
            <!-- :: /.cont_form_group -->
          </fieldset>

          <fieldset>
            <div class="cont_form_group d-flex mb-3">
              <div class="form-group col-md-12 pl-0 pr-0">
                <label class="bmd-label-floating" th:text="#{activity.link}" ></label>
                <input class="form-control" type="text" name="link" th:aria-label="#{activity.link}" th:value="${act.link}"/>
                <span class="bmd-help" th:text="#{activity.link.help}"></span>
              </div>
              <!-- :: /.form-group -->
            </div>
            <!-- :: /.cont_form_group -->
          </fieldset>

          <div class="cont_fechas row ml-0 mr-0 w-100">

            <div class="alert alert-info alert_instructions_modal alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert"th:aria-label="#{activity.modal.alert.info.btn_close.title}" th:title="#{activity.modal.alert.info.btn_close.title}">
                <span aria-hidden="true">×</span>
              </button>
              <span class="alert_titulo" th:text="#{alert.info.title}"></span>
<!-- :: RENAME -->
<!-- @TODO Establecer instrucciones de uso -->
              <span class="alert_texto" th:text="#{activity.modal.alert.info.date}"></span>
            </div>

            <fieldset class="cont_form_group d-flex col-lg-6 col-sm-12 pl-0 pr-lg-3 pr-0 mb-3">
              <div class="form-group col-md-12 pl-0 pr-0">
                <label th:for="'input_activityDateStart_'+${act.id}" class="bmd-label-floating" th:text="#{activity.activityDateStart}"></label>
                <div class="ctrl_datetimepicker input-group date" th:id="'datetimepicker_activityDateStart_'+${act.id}" data-target-input="nearest">
                  <input type="text" th:id="'input_activityDateStart_'+${act.id}" name="activityDateStart" class="form-control datetimepicker-input assessment-date-keypress" autocomplete="off" th:data-target="'#datetimepicker_activityDateStart_'+${act.id}" th:value="${#dates.format(act.activityDateStart,'yyyy-MM-dd')}">
                  <div class="input-group-append" >
                    <button type="button" class="btn btn-primary input-group-text btn_open_datepicker" th:data-target="'#datetimepicker_activityDateStart_'+${act.id}" data-toggle="datetimepicker" th:aria-label="#{general.datetimepicker.btn_open_datepicker.title}" th:title="#{general.datetimepicker.btn_open_datepicker.title}"><span class="icono fas fa-calendar" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-outline-secondary btn_reset btn_reset_datepicker" th:aria-label="#{general.datetimepicker.btn_reset_datepicker.title}" th:title="#{general.datetimepicker.btn_reset_datepicker.title}"><span aria-hidden="true" class="icono fas fa-times"></span></button>
                  </div>
                </div>
<!-- :: RENAME -->
                <span class="bmd-help">Seleccione la fecha de inicio de la actividad</span>
              </div>
              <!-- :: /.form-group -->
            </fieldset>

            <fieldset class="cont_form_group d-flex col-lg-6 col-sm-12 pl-0 pr-lg-3 pr-0 mb-3">
              <div class="form-group col-md-12 pl-0 pr-0">
                <label th:for="'input_activityDateEnd_'+${act.id}" class="bmd-label-floating" th:text="#{activity.activityDateEnd}"></label>
                <div class="ctrl_datetimepicker input-group date" th:id="'datetimepicker_activityDateEnd_'+${act.id}" data-target-input="nearest">
                  <input type="text" th:id="'input_activityDateEnd_'+${act.id}" name="activityDateEnd" class="form-control datetimepicker-input assessment-date-keypress" autocomplete="off" th:data-target="'#datetimepicker_activityDateEnd_'+${act.id}" th:value="${#dates.format(act.activityDateEnd,'yyyy-MM-dd')}">
                  <div class="input-group-append" >
                    <button type="button" class="btn btn-primary input-group-text btn_open_datepicker" th:data-target="'#datetimepicker_activityDateEnd_'+${act.id}" data-toggle="datetimepicker" th:aria-label="#{general.datetimepicker.btn_open_datepicker.title}" th:title="#{general.datetimepicker.btn_open_datepicker.title}"><span class="icono fas fa-calendar" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-outline-secondary btn_reset btn_reset_datepicker" th:aria-label="#{general.datetimepicker.btn_reset_datepicker.title}" th:title="#{general.datetimepicker.btn_reset_datepicker.title}"><span aria-hidden="true" class="icono fas fa-times"></span></button>
                  </div>
                </div>
<!-- :: RENAME -->
                <span class="bmd-help">Seleccione la fecha de fin de la actividad</span>
              </div>
              <!-- :: /.form-group -->
            </fieldset>

            <fieldset class="cont_form_group d-flex col-lg-6 col-sm-12 pl-0 pr-lg-3 pr-0 mb-3">
              <div class="form-group col-md-12 pl-0 pr-0">
                <label th:for="'input_startDate_'+${act.id}" for="startDate" class="bmd-label-floating" th:text="#{activity.startDate}"></label>
                <div class="ctrl_datetimepicker input-group date" th:id="'datetimepicker_startDate_'+${act.id}" data-target-input="nearest">
                  <input type="text" th:id="'input_startDate_'+${act.id}" name="startDate" class="form-control datetimepicker-input assessment-date-keypress" autocomplete="off" th:data-target="'#datetimepicker_startDate_'+${act.id}" th:value="${#dates.format(act.startDate,'yyyy-MM-dd')}">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary input-group-text btn_open_datepicker" th:data-target="'#datetimepicker_startDate_'+${act.id}" data-toggle="datetimepicker" th:aria-label="#{general.datetimepicker.btn_open_datepicker.title}" th:title="#{general.datetimepicker.btn_open_datepicker.title}"><span class="icono fas fa-calendar" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-outline-secondary btn_reset btn_reset_datepicker" th:aria-label="#{general.datetimepicker.btn_reset_datepicker.title}" th:title="#{general.datetimepicker.btn_reset_datepicker.title}"><span aria-hidden="true" class="icono fas fa-times"></span></button>
                  </div>
                </div>
<!-- :: RENAME -->
                <span class="bmd-help">Seleccione la fecha de inicio</span>
              </div>
              <!-- :: /.form-group -->
            </fieldset>

            <fieldset class="cont_form_group d-flex col-lg-6 col-sm-12 pl-0 pr-lg-3 pr-0 mb-3">
              <div class="form-group col-md-12 pl-0 pr-0">
                <label th:for="'input_endDate_'+${act.id}" class="bmd-label-floating" th:text="#{activity.endDate}"></label>
                <div class="ctrl_datetimepicker input-group date" th:id="'datetimepicker_endDate_'+${act.id}" data-target-input="nearest">
                  <input type="text" th:id="'input_endDate_'+${act.id}" name="endDate" class="form-control datetimepicker-input assessment-date-keypress" autocomplete="off" th:data-target="'#datetimepicker_endDate_'+${act.id}" th:value="${#dates.format(act.endDate,'yyyy-MM-dd')}">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary input-group-text btn_open_datepicker" th:data-target="'#datetimepicker_endDate_'+${act.id}" data-toggle="datetimepicker" th:aria-label="#{general.datetimepicker.btn_open_datepicker.title}" th:title="#{general.datetimepicker.btn_open_datepicker.title}"><span class="icono fas fa-calendar" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-outline-secondary btn_reset btn_reset_datepicker" th:aria-label="#{general.datetimepicker.btn_reset_datepicker.title}" th:title="#{general.datetimepicker.btn_reset_datepicker.title}"><span aria-hidden="true" class="icono fas fa-times"></span></button>
                  </div>
                </div>
<!-- :: RENAME -->
                <span class="bmd-help">Seleccione la fecha de fin</span>
              </div>
              <!-- :: /.form-group -->
            </fieldset>

          </div>
          <!-- :: /.cont_fechas-->

          <div class="cont_botonera_form col-md-12 d-flex justify-content-center mt-3">
            <button type="button" class="btn btn-outline-secondary mr-2" data-dismiss="modal" th:text="#{modal.exit}" />
            <button type="submit" class="btn btn-primary btn-modify-activity mr-2" th:text="#{activity.modal.add.button}"></button>
          </div>
          <!-- :: /.cont_botonera_form -->

        </div>
        <!-- :: /.content_activity_form -->
      </form>
    </div>
    <!-- :: /.activity_edit_form -->
    <!-- :: Eliminar  -->
    <button type="button" class="btn_activity_delete btn btn-outline-secondary modal_js" aria-label="" title=""
        th:data-url="@{${thymeleafMap.get('MANAGER_ACTIVITIES_DELETE')}(id=(${act.id} ? ${act.id}))}"
        th:data-id_activity="${act.id}"
        th:data-modal_title="#{manager.delete.confirm}"
        data-modal_size="modal-md"
        th:data-modal_target="'#modal_confirmacion_borrado_activity_' + ${act.id}"
        data-modal_tipo="light"
        data-modal_discriminador="modal_confirmacion_borrado_manager_activity"
        data-modal_html="#modal_confirmacion_borrado_activity_html"
        data-modal_footer="false">
      <span class="icono fas fa-trash" aria-hidden="true" ></span>
    </button>
  </div>
  <!-- :: /.cont_botonera -->
</li>
<!-- :: /[manager/activities/activitiesAjax.html] -->
