<!-- :: [reader/buysuggestions/buySuggestionsList.html] -->
<div class="card p-4 add-buysuggestions-wrapper">
	
	<h2 id="buySuggestionsList_title" class="item-title d-block font-weight-bold fieldset__title">
        <span class="icono fa fa-comment mr-2" aria-hidden="true"></span>
        <span th:text="#{mylibrary.reader.buy.suggestions}" ></span>
    </h2>
    
	<table class="table table-striped table-bordered lists" th:if="${not #lists.isEmpty(reader.buySuggestionList)}">
				<thead class="">
					<tr>
						<th scope="col" class="" th:text="#{suggestion.buy.author}">
							
						</th>
						<th scope="col" class="" th:text="#{suggestion.buy.title}">
							
						</th>
						 <th scope="col" class="" th:text="#{suggestion.buy.states}">
							
						 </th>
						 <th scope="col" class="" th:text="#{suggestion.buy.note}">	
						</th>											 				 
					</tr>
				</thead>
				<tbody>
					<th:block th:each="buySuggestion : ${reader.buySuggestionList}"> 
					<tr>
							<td class="" th:text="${buySuggestion.author}"></td> 
							<td class="breakword" th:text="${buySuggestion.title}"></td> 
							<td class="" th:text="${buySuggestion.statusDescription}"></td> 
							<td class="" th:text="${buySuggestion.note}"></td> 
						</tr>	
					</th:block> 
					</tbody>
	</table>
</div>
<!-- :: [reader/buysuggestions/buySuggestionsList.html] -->