<th:block th:insert="/public/home/html_type"></th:block>
   <head>
      <th:block th:insert="/public/home/technicalheader::main" th:with="page='opac-reader-warnings'"></th:block>
   </head>
   <body class="page_type_reader reader_warnings myBiblio bg-propietary-light reader">
    <!-- :: reader/warnings/home.html] -->
    <header class="header_principal">
       <th:block th:insert="/public/home/header"></th:block>
       <th:block th:insert="/fragments/breadcrums"></th:block>
    </header>
    <main id="acc_anchor_main">
      <div class="readerData">
        <th:block th:insert="/reader/fragments/readerInfo"></th:block>
      </div>
      <!-- :: /.readerData-->
      <div class="menuTitle">
        <th:block th:insert="/reader/fragments/myBiblio"></th:block>
      </div>
      <!-- :: /.menuTitle-->
      <div class="lateralMenu">
        <th:block th:insert="/reader/fragments/lateralMenu"></th:block>
      </div>
      <!-- :: /.menuTitle-->
      <div class="content">
        <th:block th:insert="/reader/warnings/warningsData"></th:block>
      </div>
      <!-- :: /.content-->
      </main>
      <footer class="footer_principal">
         <th:block th:insert="/public/home/footer"></th:block>
      </footer>
      <th:block th:insert="/public/home/technicalfooter" th:with="page='opac-reader-warnings'"></th:block>
   </body>
</html>