/* SEARCH
Formularios de búsqueda simple y avanzada
*/
.page_type_simple {
    main {
        max-width: inherit !important;
    }
    .sct_buscador,
    .sct_firstRow {
        background-color: #f6f6f6;
        .simple-search {
            max-width: 1140px;
            .cont_quick_search {
                .auto-search {
                    legend {
                        @extend %visuallyhidden;
                    }
                }
                .origen-checks {
                    legend {
                        background-color: transparent;
                        padding: 0 0 1rem 0!important;
                        margin: 0;
                        font-size: 1rem;
                        @include font-weight-bold();
                        @extend %visuallyhidden;

                    }
                }
                .search-term {
                    .cont_input_quick_search {
                        border-radius: 0.5rem 0 0 0.5rem;
                        border-color: $light-medium;
                        .cont_input {
                            border-radius: 0.5rem 0 0 0.5rem;
                            input {
                                border-radius: 0.5rem 0 0 0.5rem;
                                &::placeholder {
                                    @include font-weight-bold();
                                }
                            }
                        }
                    }
                    .cont_botonera_quick_search {
                        border-radius: 0 0.5rem 0 0.5rem;
                        .btn_search {
                            border-radius: 0 0.5rem 0.5rem 0;
                        }
                    }
                }

                &.card {
                    background-color: transparent;
                    border: 0;
                    .card-header {
                        background-color: transparent;
                        border-bottom: 0;
                        padding-bottom: 0;
                        min-height: 50px;
                    }
                    .card-body {
             
                    }
                    .card-footer {
                        background-color: transparent;
                        border-top: 0;
                        padding-top: 0;
                    }
                }
            }
        }
    }
}

.page_type_index {
    .sct_firstRow {
        .search_busquedas_indice {
            min-height: 90px;
        }
    }
}
.page_type_authority {
    .sct_firstRow {
        .search_authority {
            min-height: 90px;
        }
    }
}

.page_type_advanced,
.page_type_index,
.page_type_authority {
    main {
        max-width: inherit !important;
    }
    .sct_buscador,
    .sct_firstRow {
        background-color: #f6f6f6;
        .simple-search {
            max-width: 1140px;
        }
        .advanced-search,
        .quick_search {
            legend {
                padding: 0;
                font-size: 1rem;
                @include font-weight-bold();
            }
            .cont_quick_search {
                .cont_form_quick_search {
                    min-height: 90px;
                }
                .cont_filtros_busqueda {
                    .form-row {
                        margin-bottom: 1rem;
                        > .col,
                        > [class*="col-"] {
                            padding-right: 0;
                            padding-left: 0;
                        }
                    }
                    .row-info {
                        .form-row {
                            .cont_form_group {
                                padding: 0 5px 0 0;
                                &:last-of-type {
                                    padding: 0;
                                }
                            }
                            .cont_botonera {
                                .delete-row-advanced {
                                    height: 100%;
                                }
                            }
                            &.operator-advanced {
                                .cont_form_group {
                                    &:first-of-type {
                                        .btn {
                                            background-color: $gray-100;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .row-filters,
                    .row-dates {
                        .btn-collapse {
                            &[aria-expanded="true"] {
                                .icono:before {
                                    content: "\f106";
                                }
                            }
                        }
                    }
                }
                .cont_advanced_info {
                    .advanced-info {
                        .alert_titulo {
                            font-size: 1.1rem;
                        }
                    }
                }

                &.card {
                    .card-header {
                        display: flex;
                        justify-items: flex-end;
                        align-items: center;
                        justify-content: space-between;
                        padding-top: 0.25rem;
                        padding-bottom: 0.25rem;
                        .card-title {
                            font-size: 1.1rem;
                            margin: 5px 0;
                        }
                        .cont_botonera {
                        }
                    }
                    .card-body {
                    }
                    .card-footer {
                    }
                }
            }
        }
    }
    @include media_max(lg) {
        .sct_buscador,
        .sct_firstRow {
            .advanced-search {
                .cont_quick_search {
                    .cont_filtros_busqueda {
                        .row-info {
                            .form-row {
                                margin-bottom: 1rem;
                                .cont_form_group {
                                    &:nth-child(even) {
                                        padding: 0 0 0 0;
                                    }
                                    &.col-2 {
                                        min-width: 50%;
                                        &:nth-child(n + 2) {
                                            margin-bottom: 1rem;
                                        }
                                    }
                                }
                                .cont_botonera {
                                    margin-left: 1rem;
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @include media_max(sm) {
        .sct_buscador,
        .sct_firstRow {
            .advanced-search {
                .cont_quick_search {
                    .cont_filtros_busqueda {
                        .row-info {
                            .form-row {
                                margin-bottom: 1rem;
                                .cont_form_group {
                                    padding: 0 0 0 0;
                                    &.col-2 {
                                        min-width: 100%;

                                        margin-bottom: 1rem;
                                    }
                                }
                                .cont_botonera {
                                    margin-left: 1rem;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.page_type_simple,
.page_type_advanced {
    .sct_buscador,
    .sct_firstRow {
        .cont_quick_search {
            .origen-checks {
                fieldset {
                    width: 100%;
                }
                .cont_checks {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    gap: 5px;
                    margin-bottom: 0;
                    justify-content: space-between;

                    li {
                        margin: 0;
                        //background-color: $propietary-light;
                        padding: 5px 10px;
                        border-radius: 0.5rem;
                        flex-grow: 1;
                        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
                            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                        .custom-switch {
                            display: block;
                            width: 100%;
                            input {
                            }
                            label {
                                cursor: pointer;
                                width: 100%;
                                @include font-weight-bold();
                                font-size: 0.9rem;
                            }
                            .custom-control-label:after {
                                background-color: $gray-600;
                            }
                            .custom-control-input:checked ~ .custom-control-label::after {
                                background-color: $light;
                            }
                            .custom-control-input:checked ~ .custom-control-label::before {
                                color: $white;
                                background-color: $secondary;
                                border: $border-width solid $secondary;
                                &:focus {
                                    background-color: $primary;
                                    color: $white;
                                }
                                &:not(:disabled):not(.disabled) {
                                    &.active,
                                    &:active {
                                        color: $white;
                                        background-color: $secondary;
                                        border-color: transparent;
                                    }
                                }
                            }
                        }
                        &:first-of-type {
                            //background-color: #f5f5f5;
                        }
                        &:has(label:hover) {
                            background-color: $primary-100;
                        }
                    }
                }
            }
            .form-row {
                margin-left: inherit;
                margin-right: inherit;
            }
            .cont_form_quick_search {
                .cont_subcatalogs {
                    .auto-search {
                        .auto-search {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            gap: 10px;
                            .cont_form_group {
                                width: 100%;
                                padding-right: 0;

                                .form-group {
                                    .dropdown {
                                        border-radius: 0.25rem;
                                        min-height: 40px;
                                        border: 1px solid $propietary-medio;
                                        .sub-cata-select {
                                            left: 0;
                                            min-height: 40px;
                                        }
                                        .dropdown-toggle {
                                            padding-top: 0;
                                            position: absolute;
                                            height: 100%;
                                            .filter-option {
                                                .filter-option-inner {
                                                    height: 100%;
                                                    top: 0;
                                                    padding-top: 0;
                                                    display: flex;
                                                    align-items: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @include media_max(lg) {
        .sct_buscador,
        .sct_firstRow {
            .simple-search {
                .cont_quick_search {
                    .search-term {
                        .cont_input_quick_search {
                        }
                    }
                    .cont_form_quick_search {
                        .cont_subcatalogs {
                            .auto-search {
                                .auto-search {
                                    grid-template-columns: 1fr 1fr;
                                }
                            }
                        }
                    }
                    .origen-checks {
                        .cont_checks {
                            grid-template-columns: 1fr 1fr 1fr;
                        }
                    }
                }
            }
        }
    }
    @include media_max(sm) {
        .sct_buscador,
        .sct_firstRow {
            .simple-search {
                .cont_quick_search {
                    .origen-checks {
                        .cont_checks {
                            grid-template-columns: 1fr 1fr;
                        }
                    }
                    .cont_form_quick_search {
                        .cont_subcatalogs {
                            .auto-search {
                                .auto-search {
                                    grid-template-columns: 1fr;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @include media_max(xs) {
        .sct_buscador,
        .sct_firstRow {
            .simple-search {
                .cont_quick_search {
                    .origen-checks {
                        .cont_checks {
                            grid-template-columns: 1fr 1fr;
                        }
                    }
                }
            }
        }
    }
}
