<!-- reader/suggestions/addSuggestionsButton.html -->
<div class="card p-4 add-suggestions-wrapper">
		<div class="add-suggestion-button">
			<button class="link add-suggestion open-addsuggestion-modal btn btn-primary active"
				data-modal_tipo="light" data-modal_size="modal-lg"
				data-modal_target="#add_suggestions"
				th:data-modal_title="#{suggestion.form.text}"
				 data-modal_html="#add_suggestions"
				 data-modal_discriminador="modal_add_suggestions"				 
				data-modal_footer="false">
				<span class="icono fa fa-comment mr-1" aria-hidden="true"></span>	
				<span th:text="#{suggestion.form.text}"></span>
			</button>
		</div>
		<div id="add_suggestions" class="d-none" aria-hidden="true">
			<th:block th:insert="/reader/suggestions/suggestionsForm.html"></th:block>
		</div>
	</div>
<!-- reader/suggestions/addSuggestionsButton.html -->	