<div class="container">
  <h3>Enlaces internos</h3>
  <ul class="d-flex flex-column ml-3">
    <li class="list-item-group"><a th:href="@{colores}">Tablas de Colores</a></li>
    <li class="list-item-group"><a th:href="@{maquetacion1}">Componentes simples</a></li>
    <li class="list-item-group"><a th:href="@{maquetacion2}">Social iconos y componente Vistas</a></li>
    <li class="list-item-group"><a th:href="@{maquetacion3}">Interactives</a></li>
    <li class="list-item-group"><a th:href="@{maquetacion4}">Grids</a></li>
    <li class="list-item-group"><a th:href="@{maquetacion_info_cookieterms}">Info cookies</a></li>
    <li class="list-item-group"><a th:href="@{maquetacion_info_dataprivacyterms}">Info proteccion de datos</a></li>
    <li class="list-item-group"><a th:href="@{maquetacion_info_faq}">Info preguntas frecuentes</a></li>
  </ul>
</div>